<div class="container">
  <div class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item nav-link" routerLink="/alesha" routerLinkActive="active-menu">Alesha</li>
      <li class="nav-item nav-link" routerLink="/hallar" routerLinkActive="active-menu">Hallar</li>
      <li class="nav-item nav-link" routerLink="/klement" routerLinkActive="active-menu">Klement</li>
      <li class="nav-item nav-link" routerLink="/rocco" routerLinkActive="active-menu">Rocco</li>
      <li class="nav-item nav-link" routerLink="/xantcha" routerLinkActive="active-menu">Xantcha</li>
    </ul>
  </div>
    <router-outlet></router-outlet>
    <footer class="bg-light text-center">Hello, I'm a footer 😁</footer>
</div>